# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SquidGameVrMultiplayer.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../:\SquidGameVrMultiplayer\.idea\.idea.SquidGameVrMultiplayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
